.badge {
  position: relative;
  display: inline-block;
}

.badge-count {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: var(--accent-blue);
  color: var(--white);
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}
