 

 

.user-profile-area {
  width: 360px;
  border-right: .5px solid var(--border);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: auto;
}

.task-manager {
  font-size: 15px;
  color: var(--title-color);
  font-weight: 700;
  text-align: center;
  height: 70px;
  letter-spacing: 0.7px;
  line-height: 70px;
  position: sticky;
  top: 0;
  z-index: 3;
  text-transform: uppercase;
  background-color: var(--accent-blue);
  border-bottom: .5px solid var(--border);
}

.user-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-weight: 600;
  margin: 15px 0 8px;
}

.user-mail {
  color: var(--main-light-color);
  font-size: 12px;
  font-weight: 600;
}

.user-profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.side-wrapper {
  padding: 25px 40px;
  border-bottom: .5px solid var(--border);
   overflow-y: scroll !important;
}
.side-wrapper:last-child { 
  border-bottom: none;
}


 .drawer-container {
  position: fixed;
  top: 0;
  right: -30%; /* Adjust the width of the drawer as needed */
  width: 30%; /* Adjust the width of the drawer as needed */
  height: 100%;
  background-color: var(--white);
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}



@media screen and (max-width: 1300px) {
   .drawer-container {
    right: -40%; /* Adjust the width of the drawer as needed */
  width: 40%; 
   }
}
@media screen and (max-width: 1080px) {
   .drawer-container {
    right: -50%; /* Adjust the width of the drawer as needed */
  width: 50%; 
   }
}
@media screen and (max-width: 780px) {
   .drawer-container {
    right: -70%; /* Adjust the width of the drawer as needed */
  width: 70%; 
   }
}
@media screen and (max-width: 480px) {
   .drawer-container {
    right: -100%; /* Adjust the width of the drawer as needed */
  width: 100%; 
   }
}

.drawer-open {
  right: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.drawer-content {
  padding: 20px;
}


/* .edit-container {
  display: flex;
  align-items: center; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
			width: 40%;
} */

/* .edit-container:hover {
  background-color: #e0e0e0;
} */

 

.edit-container svg {
  color: var(--black);
}
 