.logo_area_leads{
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--white);
}

.logo-leads-img{
	width: 35px;
	height: 35px;
}

.client-header {
	 grid-area: client-header;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

/* .client-header img {
  width: 11.5rem;
} */

.client-header nav {
  background-color: var(--white);
  border-radius: 25px;
  display: flex;
  border: 3px solid var(--white);
  backdrop-filter: blur(5px);
}

.client-header nav a {
  color: var(--black);
  padding: .5rem .85rem;
  border-radius: 25px;
  transition: var(--transition);
}

.client-header nav a:hover {
  color: var(--black);
}

.client-header nav a.selected {
  background-color: var( --accent-blue);
  color: var(--white);
}

.client-header .user-info {
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .45rem;
  border-radius: 25px;
  cursor: pointer;
}

.client-header .user-info p {
  color: var(--black);
  font-weight: bold;
  user-select: none;
}

.client-header .dropdown {
  background-color: var(--white);
  color: var(--black);
  position: absolute;
  top: 5rem;
  right: 2.15rem;
  font-weight: bold;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  border: 1px solid var( --accent-blue);
  transition: var(--transition);
  box-shadow: var(--box-shadow);
}
.client-header .dropdown:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: -7px;
  right: 15px;
  border-bottom: 7px solid var(--white);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.client-header .dropdown.display {
  top: 4.5rem;
  opacity: 1;
  visibility: visible;
}

.client-header .dropdown .drop-item {
  color: var(--black);
  display: flex;
  align-items: center;
  gap: .65rem;
  font-weight: bold;
  padding: .85rem .65rem;
  padding-right: 2rem;
  border-radius: 5px;
  border: 2px solid var(--white);
  transition: var(--transition);
}
.client-header .dropdown .drop-item:hover {
  background-color: var( --accent-blue);
  color: var(--white);
}

.client-header .dropdown button {
  background-color: var(--white);
  outline: none;
  border: none;
}

.client-header .menu-btn {
  display: none;  
}
 
 
 
/* --- Media Queries --- */
@media only screen and (max-width: 835px) {
  .client-header {
    padding: 1rem;
  }
  .client-header nav,
  .client-header .user-info {
    display: none;
  }
  .client-header .dropdown {
    right: 1.5rem;
  }
  .client-header .menu-btn {
    display: block;
  }
}