 
.login_container{  
  width: 100%; 
  height: 100vh;
  background: var(--white); 
  box-shadow: 0 2px 5px -6px var(--text),0 0 30px -50px var(--text); 
  display: flex;
}
/* for both panels
display the content in a single column layout
*/
.Panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
  position: relative;
  /* ooverflow hidden to avoid janky horizontal scroll as the child elements are transitioned into view */
  overflow-x: hidden;

}
/* styles shared by the halves' elements */
.Panel h2 {
  font-size: 1.9rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.Panel p {
  margin: 1rem 0;
  max-width: 25ch;
  font-size: 0.95rem;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
}
.Panel a, .Panel button {
  color: inherit;
  font-family: inherit;
}
.Panel a {
  text-decoration: none;
  margin: 1rem 1rem;
}
/* style the anchor links nesting the social platforms in a circle */
.Panel .Social a {
  display: inline-block;
  font-weight: 900;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid currentColor;
}
/* on hover and on focus switch the color of the links making up the social icons */
.Panel .Social a:hover,
.Panel .Social a:focus {
  background: var(--text);
  color: var(--white);
}
/* include a semi-transparent border at the bottom of the anchor link elements which are direct children of the parent
this excludes the social icons */
.Panel > a {
  position: relative;
}
.Panel > a:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px dashed currentColor;
  opacity: 0.4;
}
/* display the input elements atop one another */
.Panel form {
  display: flex;
  flex-direction: column;
}

.Panel form input { 
  width: 400px;
		    margin-bottom: 10px;
}
 
 
.Panel button {
  background: none;
  border: 1px solid currentColor;
  border-radius: 50px;
  padding: 0.85rem 2.75rem;
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}


/*
on smaller viewports position the panel atop one another
expand the main panel to cover the entirety of the viewport
*/
 

/* expand the first half to cover twice the space of the second half */
.FormPanel {
  flex-grow: 2;
  /* remove the border radius for the corners matching the container */
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.FormPanel button {
  background: var(--accent-blue);
  color: var(--white);
}

/*
on smaller viewports remove the border radius
*/
@media (max-width: 650px) {
  .FormPanel {
    border-radius: 0;
  }
}


.ActionPanel {
  background: var(--accent-blue);
  color: var(--white);
  padding: 2rem;
  flex-grow: 1;
  background-image: url('../assets/img/colourful-lines.jpeg');
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-size: cover; /* Cover the entire element with the background image */
  background-position: center; /* Center the background image */
}


 

@media (max-width: 650px) {
	body {
		padding: 0;
	}
  .login_container{
    flex-direction: column;
    border-radius: 0;
    width: 100vw;
    height: 100%;
    margin: 0;
    box-shadow: none;
  }
}
