.content-holder {
    padding: 24px;
    margin-bottom: 100px;
    background-color: #FAFBFF;
    min-height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-y: none !important;
    height: auto;
}

.main-content-wrapper {
    width: 100%;
    /* This ensures it grows to exactly the size of the children */
    height: auto; 
    display: grid;
    /* Note: 60% + 30% leaves 10% for the 'space-between' gap */
    grid-template-columns: 60% 30%; 
    justify-content: space-between;
    padding: 0 !important;
    margin-top: 16px;
    /* Prevents internal content from forcing a scrollbar */
    overflow: visible;
}

.left-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stats-grid {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(70px, 1fr));
    gap: 15px;
    grid-template-rows: 150px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.stat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stat-card:hover {
    transform: translateY(-4px);
}

.stat-label {
    font-size: 12px;
    color: #718096;
    margin-bottom: 8px;
    font-weight: 500;
}

.stat-value {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

