.modal-close{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--border) ;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
}

.modal-content {
	padding: 1.8rem;
}

.modal-body {
    /* position: relative;
    flex: 1 1 auto; */
     padding: 10px; 
}
.page-btn-title {
    align-items: center;
    display: flex!important;
    justify-content: center!important;
}
.custom-btn {
    background: var(--accent-blue-light)!important;
}


/* form select {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 15px;
    width: 100%;
} */
form .user__details-long .input__box {
    margin-bottom: 20px;
    width: 100%;
}
.user-status {
    align-items: center;
    display: flex;
    font-size: larger;
    font-weight: 800;
}
.toggle-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
.toggle-switch input {
    height: 0;
    opacity: 0;
    width: 0;
}
.toggle-switch input:checked+.slider {
    background-color: #9ddca0;
}

.toggle-switch .slider.round {
    border-radius: 34px;
}
.toggle-switch .slider {
    background-color: #fe8484;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    transition: .4s;
}

.flex-btn {
    float: right;
}

.user-isActive {
    padding-right: 1rem;
}
.toggle-switch input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

.toggle-switch .slider.round:before {
    border-radius: 50%;
    border: none;
}
.toggle-switch .slider:before {
    background-color: var(--white);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    border: none;
    transition: .4s;
    width: 26px;
}



/* modal-header-icon */
.modal-handle-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.modal-handle-sub{
	display: flex;
	align-items: center;
}
.modal-handle-sub-title{
	width: 50px;
	height: 50px;
	background-color: #EEEEEE;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-right: 10px;
}

.modal-handle-sub-button{
	/* width: 20px !important;
	height: 20px !important; */
 /* background-color: #EEEEEE !important; */
	color:#000 !important ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-center-title-sup{
	color: #797979;
}