.dashboard_stack_right_container_main{
	display: flex;
	flex-direction: column;
	width: 100%;  
}

.stack_right_container_sub{
	display: grid;
	grid-template-columns: 1fr  1fr 1fr 1fr 1fr; 
	margin-bottom: 20px;
	text-align: center;
}
.stack_right_container_sub div{
font-size: 13px;
font-weight: 500;
}

.stack_right_container_sub_one{
	display: grid;
 grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
 align-items: center; 
	height: 40px; 
	font-size: 11px;
	font-weight: 400;
	color: var(--sidebar-text);
	margin-bottom: 10px;
		border-left: 4px solid var(--white);
	padding-left: 10px; 
}
.stack_right_container_sub_one:hover{
	display: grid;
 grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
 align-items: center; 
	height: 40px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	color: var(--sidebar-text);
	margin-bottom: 10px;
	border-left: 4px solid var(--accent-blue);
	padding-left: 10px;
box-shadow: -1px -1px 4px rgba(31, 31, 31, 0.1), 1px 1px 4px rgba(31, 31, 31, 0.1);
}

 
.inner_border_two{
	  border-bottom:2px solid #F5F5F5;   
		width: 100%;
}

.dashboard_stack_right_table_img{
	width: 30px;
	height: 30px;
}

.stack_mark_container{
	display: flex;
	justify-content: center;
	gap: 1rem;
}

 

.inner_border_two_container{ 
	overflow-y: auto;
	  max-height: 750px;  
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

 

.chat_details_container{
	display: flex;
	align-items: center;
	gap:3rem ; 
}

.chat_details_container_sub{
	display: flex;
 align-items: center;
 gap:10px ; 
}

 

.faq-container {
  max-width: 600px;
  margin: 0 auto; 
  background-color: var(--white);
  overflow: hidden; 
}

.faq {
  box-sizing: border-box;
  background: transparent;
  padding: 30px  10px;
  position: relative;
  overflow: hidden;
}

.faq:not(:first-child) {
  border-top: 1px solid #e6e6e6;
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  margin: 10px 0 0;
  display: none;
  line-height: 1.5rem;
}

.faq.active {
  background-color: #f8f8f8;
  box-shadow: inset 4px 0px 0px 0px var(--accent-blue);
}

.faq.active .faq-title {
  color: var(--accent-blue);
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 1px solid #e6e6e6;
  color: inherit;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding-top: 3px;
  position: absolute;
  top: 22px;
  right: 20px;
  height: 30px;
  width: 30px;
  transition: 0.3s ease;
}

.faq-toggle:focus {
  outline: none;
}

.faq.active .faq-toggle {
  transform: rotate(180deg);
  background-color: var(--accent-blue);
  border-color: var(--accent-blue);
  color: var(--white);
}


.faq-title-highlight{
	display: flex !important;
	align-items: center;
}

.faq-title-highlight-main{
		display: flex !important;
	align-items: center;
	justify-content: space-between;
	margin-right: 3rem;
}