/* .main-table-footer {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  text-align: right; 
}

.main-table-footer span {
  vertical-align: middle;
}

.main-table-footer span .material-icons {
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
}

.main-table-footer span.rows-selection {
  padding-right: 32px;
}

.main-table-footer span.rows-selection .rows-selection-label {
  padding-right: 38px;
}

.main-table-footer span.rows-amount {
  padding-right: 32px;
}

.main-table-footer span.table-pagination {
  padding-right: 14px;
}

.main-table-footer span.table-pagination .material-icons:first-child {
  padding-right: 24px;
} */

/* .table-link-active  { 
    color:  var(--accent-green)!important;
    background-color: var(--accent-green-light) !important;
    padding: 0.15rem 1rem !important;
    border-radius: 3px !important;
    border: 1px solid  var(--accent-green)!important; 
} */


 


 