 
	.addemployeecontainer_main{
		width: 100%;
		display: flex;
		justify-content: center;
	}

    .row-item {
    display: grid ;
   grid-template-columns: repeat(2, 1fr);
   gap: 40px;
   margin-bottom: 1rem; 
  }

  .input__label{
    font-weight: 500;
  }
	
	 
.stepper_main_sup{
  display: flex; 
  gap: 5rem;
}

.stepper_main_container_two{
  margin-top:4rem
}

.stepper_in_progrss_container{
  padding: 4px 10px;
  background-color: var(--accent-blue-light);
  color:var(--accent-blue);
  font-size: 12px;
  border-radius: 3px; 
  font-weight: 500;
  display:flex;
}

.stepper_in_progrss_icon_container{
  width: 50px;
  height: 50px;
    display: flex;
  align-items: center;
  justify-content: center;
    background-color: var(--accent-blue-light); 
    border-radius: 100px;
     
}
.stepper_in_progrss_icon_container svg{
 font-size: 20px;
  color:var(--accent-blue);
}

.Stepper_text_container{
  display: flex;
  align-items: center;
  gap:20px
}
.Stepper_text_container h5{
font-size: 20px;  
font-weight: 500;
}

.Stepper{
  padding-top: 2rem;
  padding-left: 2rem;
}


.stepper_main_container{
  display: flex; 
  align-items: center; 
    padding-top: 4rem; 
    gap: 2rem;
}

.stepper_main_container_ol{
  padding: 5px;
  background-color: var(--accent-blue-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  border-radius: 50px;
}
.stepper_main_container_ol li{
   width: 30px;
   height: 30px;
   background-color: var(--accent-blue);
   color: var(--white);
   border-radius: 50px;
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

.stepper_main_container_ol2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.4rem; 
}
.stepper_main_container_ol2 li{
   font-size: 18px;
  font-weight:600;
}

.addemployeecontainer {
  width: 40%;
		margin-top: 80px;
		border-radius: 5px;
		height:100%; 
  background-color: var(--white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.025), 0 0 16px rgba(0, 0, 0, 0.025),
    0 0 32px rgba(0, 0, 0, 0.025), 0 0 64px rgba(0, 0, 0, 0.025);
    padding: 1rem;
}



.addemployee-sup {
  display: flex;
  padding: 1rem;
}
.addemployee-space {
  width: 1rem;
}
 

.addemployee-sup {
  display: flex;
  padding: 1rem;
}

.addemployeecontainer-sup {
  /* background-color: var(--accent-blue); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5rem; 
		border-radius: 5px 5px 0px 0px;
}

 
.addemployeecontainer-title {
  color: var(--white);
  cursor: pointer;
  white-space: nowrap;
}

.addemployee-sup {
  display: flex;
  padding: 1rem;
}

.back-to-employee-button {
  border: 2px solid var(--white);
  padding: 4px 2rem ;
 color: var(--accent-blue) ;
  font-weight: bold !important;
  margin-right: 1rem ;
   background-color: var(--accent-blue-light) ;
}

.back-to-employee-button2 {
  border: 2px solid var(--white) ;
  padding: 4px 2rem ;
  color: var(--accent-blue) ;
  font-weight: bold  !important;
  background-color: var(--accent-blue-light) ;
}

.back-to-employee-container { 
  display: flex; 
		align-items: center;
}

.d-none {
  display: none !important;
}

.testbox{
  padding: 20px 50px;
}

.all-inputs-container_sup{
  height: 350px;
}

.contained-push-btn{
  display: flex;
  justify-content: flex-end;
}

.signup_submit_next_btn{
  display: flex;
  justify-content: flex-end; 
  margin-top: 20px;
}

	@media screen and (max-width: 768px) {

.addemployeecontainer {
  width: 90%;
		margin-top: 80px;
		border-radius: 5px;
		height:100%; 
  background-color: var(--white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.025), 0 0 16px rgba(0, 0, 0, 0.025),
    0 0 32px rgba(0, 0, 0, 0.025), 0 0 64px rgba(0, 0, 0, 0.025);
    padding: 1rem;
}

  }