.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0%;
}

.container-head {
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 130px;
  width: 100%;
  padding-bottom: 80px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(12, 12, 29, 0.6306897759103641) 38%,
    rgba(0, 212, 255, 1) 100%
  );
}
.container-body {
  width: 100%;
}

.btn-case {
  background-color: var(--white);
  white-space: nowrap;
  padding: 4px 15px;
  border: 2px solid #d6d6d6;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  color: var(--accent-blue);
  font-weight: bold;
  font-size: 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-case.active {
  background-color: var(--accent-blue);
  color: var(--white);
}
.page-btn-title {
  background-color: #cee0ea;
  padding: 2px;
  border-radius: 2px;
  height: fit-content;
  width: fit-content;
  white-space: nowrap;
  margin: auto;
  overflow-x: auto !important;
  margin-bottom: 1rem !important;
}

.profile-picture img {
  border-radius: 100%;
  margin-top: -60px;
  border: solid;
  border-width: 4px;
  border-color: white;
  padding: 10px;
}
.edit-profile-form {
  padding: 0 5px;
}
.edit-profile,
.reset-password,
.upload-image {
  font-size: 17px;
  font-weight: 500;
  font: bold;
  color: black;
  font-family: "Mulish" !important;
}

.name-text-area {
  margin: auto;
  padding: 5px;
  color: black;
}
.name-text-area input {
  width: 100%;
  padding: 0.5rem;
  padding-right: 2.25rem;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
}
/* .reset-password {
  margin: auto;
  padding: 5px 0px;
  color: black;
} */
.reset-password input {
  width: 100%;
  padding: 0.5rem;
  padding-right: 2.25rem;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  color: black;
}

.followers {
  padding-right: 60px;
}

.message-me {
  width: 50%;
  position: relative;
  padding: 18px 10px;
  margin-top: 20px;
  margin-right: 5px;
  border: solid #ff2d55 1px;
  border-radius: 50px;
  background-color: #ff2d55;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  color: white;
  font-size: 12px;
}
.follow-me {
  width: 50%;
  position: relative;
  padding: 18px 10px 18px 10px;
  margin-top: 20px;
  border: solid gray 1px;
  border-radius: 50px;
  background-color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  color: rgb(49, 49, 49);
  font-size: 12px;
  margin-left: 5px;
}

.message-me:hover {
  background-color: #ffffff;
  color: rgb(54, 54, 54);
}
.follow-me:hover {
  background-color: #408afa;
  color: rgb(255, 255, 255);
  border-color: #408afa;
}

.text-center {
  font-family: "Mulish" !important;
  font-size: 16px;
  padding: 10px;
  font: bold;
}
@media (min-width: 600px) {
  .container-head {
    border-radius: 2px;
  }
}

.submit__btn {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1rem;
  height: 3.5rem;
  border-radius: 3px;
  display: block;
  padding: 1rem;
  background-color: #005b90;
  border: none;
  cursor: pointer;
  float: right;
  font-family: "Mulish" !important;
}
