.modal-overlay {
    justify-content: end;
    padding: 0 !important;
}

.modal-content-container { 
    max-width: '160px';
    width: '95%';
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    overflow-y: auto;
    max-height: 100vh;
    border-radius: 0px !important;
}

.section-model {
    padding: 12px !important;
    height: auto;
    overflow-y:visible;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.horizontal-line {
    width: 100%;
    border: 0.5px solid #DADADA;
}

.view-header {
    width: 100%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr); 
    border-bottom: 1px solid #EAECF0;
    margin-bottom: 10px;
    padding: 0 24px !important;
}

.view-header>button {
    padding-bottom: 16px;
    background: none;
    border-radius: 0;
}

.active {
    border-bottom: 2px solid #2152FF;
    color: #2152FF;
    font-weight: 600;
}