 .spinner_container{
		width: 100%;
		height: 70vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

 .css-l38yaz-menu{
		width: 91% !important;
		background: var(--accent-blue-light) !important;
		top:50px !important;
	}

	
#notificationbtn {
display: flex; 
align-items: center;
gap: 20px; 
 
}

.totalResponses{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
 
}
.totalResponses h3 { 
  font-size: 15px;
}

.totalResponses span{ 
  font-size: 15px;
}

 #notispan-container{
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--text);
  gap: 5px;
 }

/* #notibtn, #notibtn:hover {
    background: none!important;
    color: #000; 
     width: 100px;
      height: 20px;
} */

#notibtn {
    border: none!important;
    font-weight: 600;
    outline: none!important;
}


.btn_pagination {
  background-color: var(--accent-blue);
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn_pagination:disabled {
  background-color: var(--accent-blue);
  opacity: 0.5;
  cursor: not-allowed;
}

.active-p {
  background-color: var(--accent-blue-light); 
  color: var(--white);  
 border: 0.5px solid var(--accent-orange-hover);
   padding: 3px 6px; 
   border-radius: 3px;
   border: none;

}
.inactive-p { 
   padding: 3px 6px; 
   border-radius: 3px; 
    border: 0.5px solid var(--black);
}

.normal {  
   box-shadow: none !important; 
   border: 0.5px solid var(--accent-orange-hover);
    padding: 3px 6px; 
   background-color: var(--white);
   border-radius: 3px;
}

.ellipsis {
  color: var(--accent-blue);  
  margin: 0 2px;
}
 .entries-perpage {
  color: #5c5c5c; 
  display: flex;
  align-items: center;
  gap: 10px;
}
.entries-perpage select {
  color: #5c5c5c; 
  background-color: var(--white);
  padding: 5px;
  border-radius: 3px;
  outline: none;
  border: 0;
  border: 1px solid #cfcfcf;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.entries-perpage select:focus {
  border: 1px solid var(--accent-orange);
  box-sizing: 0 0 3px var(--black);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.App-pdf {
    height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page-container {
   margin: 20px; 
  width: 100%;
   height: 100%;  
  overflow-y: scroll;
  box-shadow: 0 25px 50px 0 rgba (62, 62, 62, 0.15);
  -webkit-box-shadow: 0 25px 50px 0 rgb(62 62 62 / 15%);
}
.footer-pdf {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.button-container {
  display: flex;
  gap: 8px;
}

  .custom-placeholder::placeholder {
  color: fff !important;  
}

 


@media screen and (max-width: 768px) {
.totalResponses{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  overflow: auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
 
}
}

.img-lenght{
  display: flex;
  position: relative;
}
.img-lenght-sup{ 
  position: absolute;
  background-color: aquamarine;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -5px;
  left: 21px;
}

.img-lenght-icon{
  z-index: 9999999 !important;
  cursor: pointer;
}