
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 
 *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  /* list-style: none !important; */
  /* list-style-type: none !important;
  text-decoration: none !important; */
  outline: none !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


:root {
  --gradient-yellow: #EBDDCA;
  --accent-purple-light:#F4ECFB;
  --accent-purple:#883DCF;
   --accent-yellow-light:#ffd61d30;
  --accent-yellow:#FFD71D;
  --accent-orange-light:#FFF0EA;
  --accent-orange:#F86624;
  --accent-green-light:#E9FAF7;
  --accent-green:#22CAAD;
  --accent-red-light:#FEECEE;
  --accent-red:#EB3D4D;
  --accent-blue-light:#E5ECFB; 
  --accent-blue: #2152FF;
  --accent-blue-soft: #0240bcc9; 
  --text: #1D1F2C;
  --small-text: #667085;
  --gray-light: #8F8F8F;
  --small-static: #EFEFEF;
  --black: #000;  
 --yellow: #FFD71D;
  --white:#ffffff;
  --border:#cdd1d3;
    --transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  --form-border:#E2E2E2;
 --side-bar-text: rgba(0, 0, 0, 0.7);
  --background:#F6F8FF;
   --box-shadow:  rgba(0, 0, 0, 0.1);
   --background:linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #F5F6F8; 
  --box-shadow-two: 0 0 4px rgba(0, 0, 0, .05), 0 0 16px rgba(0, 0, 0, .05), 0 0 32px rgba(0, 0, 0, .05), 0 0 64px rgba(0, 0, 0, .05);  

     --gradient: linear-gradient(to left,
            #ffffff00,
            rgba(169, 169, 169, 0.649),
            #ffffff00);
    --bg: #b7b7b782;
    --speed: 1.4s;
}
 
 html, body { 
  width: 100%;
}

body { 
  background:  var(--background);
  font-family: 'inter' !important;
  line-height: 1.3;
  padding-left: 0px !important;
  font-size: 12px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img, 
svg {
  display: block !important; 
  max-width: 100% !important;
}

input, 
button, 
textarea, 
select,
 table {
  font: inherit !important;
  box-sizing: border-box !important;
   font-size: 12px !important;
}
@media (max-width: 1200px) {
input, 
button, 
textarea, 
select,
 table{
  font: small !important; 
}
}
 
a {
  text-decoration: none !important;
  outline: none !important;
}
 
  
#page-wrapper {
  display: grid !important;
  position: relative;
  height: 100dvh !important;
  grid-template-columns: max-content 1fr !important;
  grid-template-rows: 80px 1fr !important;
  grid-template-areas:
    "sidenav header"
    "sidenav main" 
     "sidenav footer";    
}
#dashboard{
  display: grid !important;
  position: relative;
  height: 100dvh !important;
  grid-template-columns: 190px 1fr !important;
  grid-template-rows: 100vh !important;
  grid-template-areas:
    "hero-section1 main";
}

main {
  grid-area: main !important;
  padding: 2rem 2rem !important;
  overflow: auto;
  background-color: #fff;
}

table {
  background-color: var(--white);
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border) !important;
     font-size: 12px !important;
}
 
 
table th,
table td {
  text-align: left;
  padding: .75rem 1rem;
  font-size: 12px;
}
table th {
  background-color: #EDEDED;
  color:  #64676a;
  font-weight: 500;
  white-space: nowrap !important;
  font-weight: bold;
}
 
 

@media (max-width: 1200px) {
  main {
  grid-area: main !important;
  padding: 2rem 1rem !important;
  }
  
#page-wrapper {
    display: grid !important;
    position: absolute;
    height: 100dvh !important;  
    width: 100%; 
    grid-template-columns: max-content 1fr !important;
    grid-template-rows: 100%;
    grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
} 
 }  


 .hero-section1 {
  background-color: white; 
  padding: 25px 10px;
  border-right: 0.5px solid #D5D5D5;
}
.hero-section2 {
  background-color: white; 
}
.hero-section3 {
  background-color: white; 
}
.hero-section4 {
  background-color: white; 
}

.hero-search {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
}
.hero-search-container {
  position: relative;
  width: 80%;
}
.hero-search input {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--white);
  width: 100%;
  padding: 1rem;
  outline: none;
  border: 2px solid var(--white);
  border-radius: 35px;
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(5px);
}
.hero-search span {
  position: absolute;
  top: 0.85rem;
  right: 1.5rem;
}

.page-title2 {
 color: #5e5e5e;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase !important; 
      margin-right: 32% !important;
}

.main {
  margin: 2rem 0; 
}

 
.desk-action  {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  margin: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 3px;
  border: 1px solid var(--clr-blue);
  box-shadow: var(--box-shadow);
 
}
   .dash_statistics_container1 {
        display: flex;
        	justify-content: space-between;
        margin-top: 28px;
        gap: 22px;
    }
@media screen and (max-width: 1080px) {
    .dash_statistics_container1 {
        display: flex;
        flex-direction: column;
        margin-top: 2px;
        gap: 22px;
    }
}
 

/* --- Media Queries --- */
@media only screen and (max-width: 835px) {
  .hero-search {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
}
  .hero-search-container {
    width: 100%;
  }

 
#dashboard {
    display: grid !important;
    position: relative;
    height: 100dvh !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 200px 1fr !important;
    grid-template-areas:
        "client-header "
        "main";
}
 }
 

.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  }

  .fade-appear-active,
.fade-enter.fade-enter-active {
opacity: 1;
transition: opacity 450ms linear 250ms;
}
.fade-exit {
opacity: 1;
}
.fade-exit.fade-exit-active {
opacity: 0;
transition: opacity 150ms linear;
}

.table-overflow{ 
  margin-bottom: 5rem;
  box-shadow: 0 0 7px rgb(0 0 0 / 25%);
}


  
 /* --- Other CSS Files --- */
@import url(./App.css);   
@import url(./css/Header.css);   
@import url(./css/SideNav.css);  
@import url(./css/BottomNavigation.css);  
@import url(./css/Badge.css);  
@import url(./css/Login.css); 
@import url(./css/Settings.css); 
@import url(./css/Form.css); 
@import url(./assets/bootstrap.css); 
@import url(./css/AdminDashboard.css); 
@import url(./css/Register.css);  
@import url(./css/Modal.css);   
@import url(./css/table.css);   
@import url(./css/Vendors.css);   
@import url(./css/Reports.css);  
@import url(./css/ImageLightbox.css);  
@import url(./css/DrawerComponent.css);  
@import url(./css/DropdownMenu.css);  
@import url(./css/Button.css);  
@import url(./css/NetworkConnetion.css);  
@import url(./css/LeadsDashboard.css);  
@import url(./css/LeadsHeader.css);  
@import url(./css/Chat.css);  
@import url(./css/SignUp.css);  
@import url(./css/Inputs.css);  
@import url(./css/Pricing.css);  
@import url(./css/SuccessPage.css);  
@import url(./css/VerifyLoader.css);  
@import url(./css/Delete.css);  
@import url(./css/Company.css);  
@import url(./css/UserProfile.css);  
@import url(./css/Skelenton.css);  
@import url(./css/NotFound.css);  
@import url(./css/Notification.css);
@import url(./css/topbar.css);
@import url(./css/mainDisplay.css);

 

 
 

.loading-center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
   /* Media query for smaller screens */
  @media (max-width: 600px) {
    height: 60vh;  
  }
}


.entries-perpage-container{
  color: #5c5c5c;
  display: flex;
  align-items: center;
  /* white-space: nowrap !important; */
}

.entries-perpage-container select { 
  color: #5c5c5c !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  background-color: var(--white) !important;
  padding: 5px !important;
  border-radius: 3px !important;
  outline: none !important;
  border: 0 !important;
  border: 1px solid #cfcfcf !important;
  transition: all 0.3s ease-out !important;
  -webkit-transition: all 0.3s ease-out !important;
  white-space: nowrap !important;
 
}
.entries-perpage {
  color: var(--text); 
  display: flex;
  align-items: center;  
}
  .entries-perpage select { 
 color: var(--text) !important; 
  background-color: var(--white) !important;
  padding: 5px !important;
  border-radius: 3px !important;
  outline: none !important;
  border: 0 !important;
  border: 1px solid var(--form-border)!important;
  transition: all 0.3s ease-out !important;
  -webkit-transition: all 0.3s ease-out !important; 
}  
.entries-perpage select:focus {
  border: 1px solid var(--accent-blue);
  box-sizing: 0 0 3px var(--black);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

@media only screen and (max-width: 1220px) { 

.entries-perpage {
  color: var(--gray-light); 
  white-space: nowrap !important; 
  justify-content: center;
}

}

/* --- Start Pagination --- */

.pagination-container {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap !important;
}
.pagination-container a {
  color: var(--small-text);
  padding: 0.25rem 0.5rem;
  user-select: none;
  border: 1px solid var(--white);
  border-radius: 3px;

}
.pagination-container a:hover {
  color: var(--accent-blue) !important;
  border: 1px solid var(--accent-blue);
}
.pagination-active a,
.pagination-active a:hover {
  background-color: var(--accent-blue);
  color: var(--white) !important;
  border: 1px solid var(--accent-blue);
}
#table-footer a.previous-btn,
#table-footer a.next-btn {
  color: var(--accent-blue);
  border: 1px solid var(--accent-blue);
}
.pagination-disabled a,
.pagination-disabled a:hover {
  color: var() !important;
  cursor: not-allowed;
  border: 1px solid #b4b4b4 !important;
}
/* --- End Pagination --- */
